<div id="background-holder">
  <div id="cloud-holder">
    <%= image_tag 'spaceClouds/cloud1', class: 'cloud', name: 'cloud1' %>
    <%= image_tag 'spaceClouds/cloud2', class: 'cloud', name: 'cloud2' %>
    <%= image_tag 'spaceClouds/cloud3', class: 'cloud', name: 'cloud3'  %>
    <%= image_tag 'spaceClouds/cloud4', class: 'cloud', name: 'cloud4'  %>
    <%= image_tag 'spaceClouds/cloud5', class: 'cloud', name: 'cloud5'  %>
    <%= image_tag 'spaceClouds/cloud5', class: 'cloud', name: 'cloud6'  %>
  </div>
</div>
