<div id="background-holder">
  <div id="cloud-holder">
    <%= image_tag 'spaceClouds/cloud1.png', class: 'cloud', name: 'cloud1' %>
    <%= image_tag 'spaceClouds/cloud2.png', class: 'cloud', name: 'cloud2' %>
    <%= image_tag 'spaceClouds/cloud3.png', class: 'cloud', name: 'cloud3'  %>
    <%= image_tag 'spaceClouds/cloud4.png', class: 'cloud', name: 'cloud4'  %>
    <%= image_tag 'spaceClouds/cloud5.png', class: 'cloud', name: 'cloud5'  %>
    <%= image_tag 'spaceClouds/cloud6.png', class: 'cloud', name: 'cloud6'  %>
  </div>
</div>

<script>
  let bgHolder = document.getElementById('background-holder');
  let stripe1 = document.querySelector(".stripe1");
  let stripe2 = document.querySelector(".stripe2");
  let stripe3 = document.querySelector(".stripe3");
  let stripe4 = document.querySelector(".stripe4");

  function setStripeHeights(){
    stripe1.style.height = "400px";
    stripe2.style.height = "400px";
    stripe3.style.height = "500px";
    stripe4.style.height = "600px";
    bgHolder.removeEventListener('webkitTransitionEnd',setStripeHeights, false);
  }

  bgHolder.addEventListener('webkitTransitionEnd', setStripeHeights, false);
  bgHolder.addEventListener('transitioned', setStripeHeights, false);

</script>
